@model WebApplication1.Models.Product

@{
    ViewBag.Title = "Delete";
}

<h2>Xoá sản phẩm</h2>

<h3>Bạn có chắc chắn muốn xoá sản phẩm này?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Tên sản phẩm
        </dt>

        <dd>
            @Model.Name
        </dd>

        <dt>
            Giá bán
        </dt>

        <dd>
            @Model.Price.ToString("N0")
        </dd>

        <dt>
            Hạn sử dụng
        </dt>

        <dd>
            @Model.Expire.ToString("dd/MM/yyyy")
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xoá" class="btn btn-default" /> |
            @Html.ActionLink("Trở về trang chủ", "Index")
        </div>
    }
</div>
